{% extends "layout.html" %}



{% block content %}
<form method="post">
    <input type="text" name="ticker_symbol" value="", placeholder="Type a ticker symbol"/>
    <input type="submit">
</form>

{% endblock %}

{% block ticker_table %}
    Ticker symbol: <b>{{ ticker_symbol }}</b>
    </br>
    Result: {{ticker_table | safe}}
{% endblock %}

{% block linechart %}

<div id='line' class='chart'></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ line_graphJSON|safe }};
  Plotly.plot('line',graphs,{});
</script>

{% endblock %}
