{% extends "layout.html" %}


{% block content %}
<div>
  <form method="post">
    <select name="ticker_symbol" method="POST" action="/">
    {% for ticker in ticker_options %}
      <option value="{{ ticker }}"{% if ticker == ticker_symbol %}selected{% endif %}>{{ ticker }}</option>
    {% endfor %}
    </select>
    <input type="submit">
  </form>
</div>
<br>
{% endblock %}

{% block ticker_table %}
    Ticker symbol: <b>{{ ticker_symbol }}</b>
    </br>
    Result: {{ticker_table | safe}}
{% endblock %}

{% block linechart %}

<div id='line' class='chart'></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  var graphs = {{ line_graphJSON|safe }};
  Plotly.plot('line',graphs,{});
</script>

{% endblock %}
